cython
numpy
h5py >= 1.3.0
jinja2
networkx
jsonschema
xmlbuilder
functools32
pyxb
pyBigWig
# Install from github
-e git://github.com/PacificBiosciences/pbcore.git@master#egg=pbcore
-e git://github.com/PacificBiosciences/pbcommand.git#egg=pbcommand
